.bandera{
    width: 90px;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 1px;
    border: solid 2px black;
    transition: all ease 300ms;
    box-shadow: -1px 3px 16px 9px rgba(0,0,0,0.43);
  -webkit-box-shadow: -1px 3px 16px 9px rgba(0,0,0,0.43);
  -moz-box-shadow: -1px 3px 16px 9px rgba(0,0,0,0.43);
}

.bandera:hover{
  transform: scale(1.1);
}


.maincointainer { 
    background: linear-gradient(to top, transparent, mistyrose), url('../Home/1867017.webp') ; 
    background-position-y: -90px;
    background-size: cover;
    background-repeat: no-repeat;
    position:absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .input{
    border-radius: 1.5rem;
    border: 1 solid #e2e8f0;
    padding: 0.5rem 1.6rem;
    background-position-y: -20px;
    
}

.input:hover {
    background-color: #1e293b;
    color: #fff;

  } 

  .GoBack{
    margin-top: 20px;
}
  